<div id="content">


  <div id="content-header">
    <div id="breadcrumb"> 
      <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> 
      <a href="#" class="tip-bottom">广告添加</a> 
    </div>
    <h1>广告添加</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span4">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>基本信息填写</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="#" method="get" class="form-horizontal">
              <div class="control-group">
                <label class="control-label">商家名称：</label>
                <div class="controls">
                  <input type="text" name="seller" class="span11" placeholder="店名" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">地址：</label>
                <div class="controls">
                  <input type="text" name="addr" class="span11" placeholder="地址" />
                </div>
              </div>
              
              <div class="form-actions">
                <button type="submit" class="btn btn-success">保存</button>
                <button type="reset" class="btn btn-danger">重置</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <style type="text/css">
      img {
        max-width: 100%; /*图片自适应宽度*/
      }  
    </style>
    <div class="row-fluid">
      <div class="span3">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>预览</h5>
          </div>
          <div class="widget-content"> 
            <img class="center-block img-responsive" src="__ADMIN__/img/top.png">
            <div id="pre" style="width: 347px;height: 500px;overflow: auto;">
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span5">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
              <h5>设计</h5>
            </div>
            <div class="widget-content">
              <div class="control-group">
                <form action="{:url('index/leaflet/add')}" method="post" class="form-horizontal">
                  <script type="text/javascript" src="__ADMIN__/ue/ueditor.config.js"></script>
                  <script type="text/javascript" src="__ADMIN__/ue/ueditor.all.min.js"></script>
                  <textarea  type="text/plain"  id="editor" name="ads_content" style="height: 667px;"></textarea>
                  <script type="text/javascript">
                    var ue = UE.getEditor('editor');
                  </script>
                  <div class="control-group">
                    <label class="control-label">红包数：</label>
                    <div class="controls">
                      <input type="text" name="" class="span11" placeholder="number"  />
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">红包金额：</label>
                    <div class="controls">
                      <div class="input-append">
                        <input type="text" name="money" class="span11" placeholder="money" />
                        <span class="add-on">¥</span>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">区域半径：</label>
                    <div class="controls">
                      <div class="input-append">
                        <input type="text" name="radius" class="span11" placeholder="" />
                        <span class="add-on">米</span>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">传单简介：</label>
                    <div class="controls">
                      <textarea name="intro" id="" ></textarea>
                    </div>
                  </div>
                  <div class="center-block">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <button id="prev" type="button" class="btn btn-info">预览</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $("#prev").click(function(){
    var uecontent = UE.getEditor('editor').getContent();
    $("#pre").html(uecontent);
  });

</script>